/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: vertical;
}

.input-group {
    display: flex;
    gap: 10px;
}

.input-group input[type="text"] {
    flex-grow: 1;
}

.input-group select {
    width: auto;
}

/* Styles pour la prévisualisation de l'article */
#article-preview {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    overflow: hidden;
    max-width: 100%;
    box-sizing: border-box;
}

.preview {
    column-gap: 20px;
    text-align: justify;
    overflow: hidden; /* Pour gérer les éléments flottants */
}

.article-title {
    margin-bottom: 20px;
    word-wrap: break-word;
}

.article-title.left {
    text-align: left;
}

.article-title.center {
    text-align: center;
}

.image-container {
    break-inside: avoid; /* Empêche l'image d'être coupée entre les colonnes */
    page-break-inside: avoid; /* Pour une meilleure compatibilité */
}

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
}

.right {
    float: right;
    margin-left: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style des sliders */
.slider-group {
    margin-bottom: 15px;
}

input[type="range"] {
    width: 100%;
    margin-top: 5px;
}

.range-value {
    font-weight: bold;
}

/* Boutons radio pour les colonnes */
.columns-option {
    margin-top: 10px;
}

.columns-option label {
    display: inline-block;
    margin-right: 10px;
}

.columns-option input[type="radio"] {
    margin-right: 5px;
}

/* Boutons */
button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .input-group {
        flex-direction: column;
    }

    .input-group select {
        width: 100%;
    }
}